.myinfo::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.myinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  height: 760px;
  width: 400px;
  overflow-y: scroll; /* 위아래 스크롤 가능 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.info-contents {
  font-size: 18px;
  color: #333;
  margin-left: 15px;
  margin-bottom: 20px;
}

.img-container {
  justify-content: center;
  display: flex;
  padding: 10px;
}

.buttons {
  padding: 10px 20px;
  margin: 10px;
  background-color: #ff914d;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-color: #ff914d;
  cursor: pointer;
}

/* Footer 스타일링 */
.footer-container {
  width: 400px;
  border-top: 1px solid #ddd;
}
