/* 기본 레이아웃 설정 */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
}

.home::-webkit-scrollbar {
  display: none;
  /* 스크롤바 숨김 */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 760px;
  width: 400px;
  overflow-y: scroll;
  /* 위아래 스크롤 가능 */
  scroll-behavior: smooth;
  /* 부드러운 스크롤 */
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: fit-content;
}

.link-container > div{
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  color: black;
  padding-bottom: 10px;
}

.link-container > img {
  width: 28px;
}

.mypage-top-div {
  width: 85%;
  text-align: center;
}

.mypage-sub-header-container {
  display: flex;
  justify-content: s;
  text-align: justify;
  width: 95%;
  margin: 10px 20px 20px 10px;
  gap: 15px;
  cursor: pointer;
}

.profile-img {
  width: 30px;
}

.mypage-list-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0.2, 0.3);
  text-align: center;
  align-items: center; /* 내부 요소들을 가운데 정렬 */
}

.mypage-div {
  text-align: left;
  width: 85%;
}

.mypage-button-group {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mypage-button {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  color: #959494;
  border: #bbbbbb;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  width: 140px;
}

.list-type {
  font-size: 14px;
  font-weight: bold;
  color: #565656;
  background-color: #c2c1c1;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}