.password::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  height: 760px;
  width: 400px;
  overflow-y: scroll; /* 위아래 스크롤 가능 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

.password-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin-left: 15px;
}

.password-input {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: black;
  border-bottom: 1px solid #ddd;
  width: 90%;
  box-sizing: border-box;
}

.result {
  font-size: 13px;
  color: #f93232;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
