/* 기본 레이아웃 설정 */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.info::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  max-height: 760px;
  max-width: 400px;
  overflow-y: scroll; /* 위아래 스크롤 가능 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}

.inputs-container{
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  text-align: left;
  padding: 20px
}

.info-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin-left: 15px;
}

.info-input {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: black;
  border-bottom: 1px solid #ddd;
  width: 90%;
  box-sizing: border-box;
}

.buttons {
  width: 70%;
  padding: 8px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  color: #BDBDBD;
  font-weight: bold;
  border-color: #BDBDBD;
}

.result {
  font-size: 13px;
  color: #F93232;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Footer 스타일링 */
.footer-container {
  width: 100%;
  border-top: 1px solid #ddd;
}
